.main {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #353a47;
  text-align: center;
}

.title {
  margin: 1em 0;
  line-height: 1.15;
  font-size: 3em;
  color: #fff;
}

.about {
  margin: 1em auto;
  background-color: #fff;
  width: 80%;
  font-size: 1.3em;
}

.map {
  margin: 15px 0px;
  border: 0;
  width: 100%;
  height: 250px;
}

.locations {
  display: grid;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
