.schedulerWrapper {
  overflow-x: auto;
}

.scheduler {
  margin: auto;
  width: 450px;
  border: 1px solid lightgrey;
}

.dateControls {
  margin-bottom: 10px;
}

.dateArrows {
  margin-left: 15px;
}

.cell {
  padding: 10px;
  width: 50px;
}

.stickyCell {
  position: sticky;
  left: 0;
  background-color: #fff;
  z-index: 1;
}

@media (max-width: 575.98px) {
  .cell {
    padding: 5px;
    width: 40px;
  }
}

.available {
  background-color: lightgreen;
  cursor: pointer;
  color: black;
}

.myBooking {
  background-color: #ea1e59;
  color: white;
}

.myBooking:hover {
  background-color: blue;
  cursor: pointer;
}

.myBooking:hover span {
  display: none;
}

.myBooking:hover:before {
  content: "Cancel?";
}

.unavailable {
  background-color: lightgrey;
  opacity: 0.4;
  cursor: not-allowed;
}
